<p>vista works!</p>

<div class="container mx-auto mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/3XCssfb.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mi tío Oswald</h5>
          <h6 class="card-subtitle mb-2 text-muted">Roald Dahl</h6>
      <p class="card-text">Año de publicacion: 1976</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/O97Pn1j.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Escupiré sobre vuestra tumba</h5>
          <h6 class="card-subtitle mb-2 text-muted">Boris Vian</h6>
      <p class="card-text">Año de publicacion: 1946.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
     
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/BfYbcAh.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">El retrato de Dorian Gray</h5>
          <h6 class="card-subtitle mb-2 text-muted">Oscar Wilde</h6>
      <p class="card-text">Año de publicacion: 1890.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/wb7rIdD.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">El embrujo de Shanghai</h5>
          <h6 class="card-subtitle mb-2 text-muted">Juan Marsé</h6>
      <p class="card-text">Año de publicacion:2008</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/LfANEo4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Moby Dick</h5>
          <h6 class="card-subtitle mb-2 text-muted">Herman Melville</h6>
      <p class="card-text">Año de lanzamiento: 1851</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/G7c3Lu7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Gente tóxica</h5>
          <h6 class="card-subtitle mb-2 text-muted">Bernardo Stamateas</h6>
      <p class="card-text">Año de lanzamiento: 2010</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/Cc7A1ig.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">La señora Dalloway</h5>
          <h6 class="card-subtitle mb-2 text-muted">Virginia Woolf</h6>
      <p class="card-text">Año de lanzamiento: 1925</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
    
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/WQZ0qQl.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Un mundo común</h5>
          <h6 class="card-subtitle mb-2 text-muted">Marina Garcés</h6>
      <p class="card-text">Año de lanzamiento: 2022</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/8neqZSZ.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">El principito</h5>
          <h6 class="card-subtitle mb-2 text-muted">Antoine de Saint-Exupéry</h6>
      <p class="card-text">Año de lanzamiento: 1943.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
    </div>
      
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/LJExSVS.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">El gran Gatsby</h5>
          <h6 class="card-subtitle mb-2 text-muted">Francis Scott Fitzgerald</h6>
      <p class="card-text">Año de lanzamiento:1925</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/EAH3aJi.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Matar a un ruiseñor</h5>
          <h6 class="card-subtitle mb-2 text-muted">Harper Lee</h6>
      <p class="card-text">Año de publicacion: 1960</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
    
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/Nk0nfj4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cien años de soledad</h5>
          <h6 class="card-subtitle mb-2 text-muted">Gabriel García Márquez</h6>
      <p class="card-text">Año de publicacion: 1967</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
    </div>

          
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/mzXg95o.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Muerte en Venecia</h5>
          <h6 class="card-subtitle mb-2 text-muted">Thomas Mann</h6>
      <p class="card-text">Año de lanzamiento:  1912</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/hWZ7ChK.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">La senda del perdedor</h5>
          <h6 class="card-subtitle mb-2 text-muted">Charles bukowsky</h6>
      <p class="card-text">Año de lanzamiento: 1982</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/oDlLiqp.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mujeres cuentistas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Anthologia de relatos</h6>
      <p class="card-text">Año de lanzamiento: 2009 </p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
    </div>


    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/ir2IcoM.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">El mal de Montano</h5>
          <h6 class="card-subtitle mb-2 text-muted">Enrique Vila-Matas</h6>
      <p class="card-text">Año de lanzamiento: 2002</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/vhWjUCg.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Persépolis</h5>
          <h6 class="card-subtitle mb-2 text-muted">Marjane Satrapi</h6>
      <p class="card-text">Año de lanzamiento: 2000</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/D1AdcTB.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">El lobo estepario</h5>
          <h6 class="card-subtitle mb-2 text-muted">Hermann Hesse</h6>
      <p class="card-text">Año delanzamiento: 1927.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>>
      
    </div>
    </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/QrdCbqf.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Luces de bohemia</h5>
          <h6 class="card-subtitle mb-2 text-muted">Ramón del Valle-Inclán</h6>
      <p class="card-text">Año de lanzamiento: 1920.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/mxMViic.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Historia de dos ciudades</h5>
          <h6 class="card-subtitle mb-2 text-muted">Charles Dickens</h6>
      <p class="card-text">Año de lanzamiento: 1859.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
     
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/j86X5NH.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Escenas de la vida bohemia</h5>
          <h6 class="card-subtitle mb-2 text-muted">Henry Murger</h6>
      <p class="card-text">Año de lanzamiento: entre 1845 y 1849</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/iWNRvtG.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">El árbol de la ciencia</h5>
          <h6 class="card-subtitle mb-2 text-muted">Pío Baroja</h6>
      <p class="card-text">Año de lanzamiento: 1911.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/sUSBi6N.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Los renglones torcidos de Dios</h5>
          <h6 class="card-subtitle mb-2 text-muted">Torcuato Luca de Tena</h6>
      <p class="card-text"> Año de lanzamiento: 1979.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/TZXQzWL.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rayuela</h5>
          <h6 class="card-subtitle mb-2 text-muted">Julio Cortázar</h6>
      <p class="card-text">Año de lanzamiento: 1963.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/Kq39pF0.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Por quién doblan las campanas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Ernest Hemingway</h6>
      <p class="card-text">Año de lanzamiento: 1940.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/lISpq7m.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Yo soy fulana de tal</h5>
          <h6 class="card-subtitle mb-2 text-muted">Álvaro de Laiglesia</h6>
      <p class="card-text">Año de lanzamiento: 1973.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/o2BINjs.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alicia en el País de las Maravillas</h5>
          <h6 class="card-subtitle mb-2 text-muted">Lewis Carroll</h6>
      <p class="card-text">Año de lanzamiento: 1863.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/4xMEVBZ.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Espejos</h5>
          <h6 class="card-subtitle mb-2 text-muted">Eduardo Galeano</h6>
      <p class="card-text">Año de lanzamiento: 2006.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
         <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/cIpF6vI.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">En el camino</h5>
          <h6 class="card-subtitle mb-2 text-muted">Jack Kerouac</h6>
      <p class="card-text">Año delanzamiento 1957</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
      </div>    
            <div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <img src="https://i.imgur.com/TXyN1cx.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ensayo sobre la ceguera</h5>
          <h6 class="card-subtitle mb-2 text-muted">José Saramago</h6>
      <p class="card-text">Año de lanzamiento 1965.</p>
      <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Visit Site</a>
      
    </div>
    </div>
    </div>
    
  </div>
    </div>
    <app-sing-up></app-sing-up>